body {
    font-family: Arial;
    text-align: center;
}

div {
    padding: 10px;
}

#loading {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
}